@import url('https://fonts.googleapis.com/css?family=Poppins');

.container{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.detail_gambar{
  width: 600px;
height: 436px;
border-radius: 16px;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
block-size: auto;
}
.container2{
  position: absolute;
  top: 32rem;
  margin-left: -60px;
  border-radius: 16px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  block-size: auto;
  width: 600px;
  height: auto;
}
.card-body{
  width: 336px;
height: auto;
background: #FFFFFF;
/* Shadow/High */

  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}
.card-title{
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #000000;
}
.card-text{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


/* Neutral/03 */

color: #8A8A8A;
}
.card-text-2{
  font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


color: #000000;
}

.btn{
  width: 304px;
height: 48px;
background: #7126B5;
border-radius: 16px;
border-color: #7126B5;
}
.btn2{
  width: 304px;
height: 48px;
background: #FFFFFF;
/* Primary/Purple/04 */

border: 1px solid #7126B5;
border-radius: 16px;
color: #000000;
}
.btn-teks{
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
}

.card{
  width: 336px;
height: auto;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
border-radius: 16px;
margin-top: 20px;
}
.gbr-seller{
  width: auto;
}
.ket{
  font-weight: 400;
font-size: 10px;
line-height: 14px;
/* identical to box height, or 140% */


/* Neutral/03 */

color: #8A8A8A;
}


@media (min-width: 320px) and (max-width: 576px) {
  *{
    font-size: 95%;
  }
  .container{
    display: block;
  }
  .back {
    top: 10px;
    margin-left: -10px;
    background-color: #FFFFFF;
    border-radius: 20px;
  }
  .detail_gambar{
    border-radius: 0px;
    max-width: 120%;
    align-items: center;
    justify-content: center;
    margin-top: -2rem;
    margin-left: -3rem;
  }
  .card-body{
    display:inline-block;
    width: 328px;
    height: auto;
    margin-top: -30px;
  }
  .card-body .btn{
    display: none;
  }
  .card-body .btn2{
    display: none;
  }
  .card{
    position: absolute;
    width: 328px;
    height: auto;
    margin-top: 15px;
  }
  .container2{
    /* position: absolute; */
    margin-top: -0.5rem;
    margin-left: 25px;
    width: 328px;
    height: auto;
  }
  .container3{
    justify-content: center;
    align-items: center;
    width: auto;
    margin-left: 8%;
    /* margin-left: 25%;
    margin-right: 25%; */
  }
  .btn-float{
    position: fixed;
    bottom: 5%;
}
  .card2{
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
border-radius: 16px;
  }
}
@media only screen and (min-device-width: 768px) {
  *{
    margin: 2rem;
    border-radius: 1rem;
  }
}
@media (min-width: 992px) {
  .back {
    display: none;
  }
  .btn-float{
    display: none;
  }
}

@media screen and (min-device-width: 1200px) {
*{
  margin: 0.5rem;
}
.container {
  flex-direction: row;
  gap: 1rem;
  padding: 2rem 4rem;
}
.detail_gambar{
  height: 25rem;
  max-inline-size: none;
}
.desc{
  /* height: 50rem; */
  max-inline-size: none;
  width: auto;
}
}