@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins';
    font-size: 12px;
} 

.Container{
  margin: auto;
}

/* navbar judul saja */
#title {
  font-size: 16px;
  float: none;
  position: absolute;
  top: 5%;
  left: 40%;
  transform: translate(-30%, -70%);
}

.frame-search {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 24px;
  gap: 16px;
  position: absolute;
  width: 444px;
  height: 48px;
  left: 260px;
  top: 14px;
  background: #EEEEEE;
  border-radius: 16px;
}

.text-search {
  font-size: 14px;
  color: #8A8A8A;
}



.fi-list {
  width: 24px;
  height: 24px;
}

.fi-bell {
  width: 24px;
  height: 24px;
}

.fi-user {
  width: 24px;
  height: 24px;
}

/* notifikasi */
.notif-txt {
  position: absolute;
  width: 98px;
  height: 30px;
  left: 80px;
  top: 45px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
.list-notifikasi {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 16px;
  position: absolute;
  left: 904px;
  top: 70px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  z-index: 1000; /* biar notif ga ketumpuk */
}
.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
} 
.list2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 328px;
  height: 86px;
}   
.notif {
  display: flex;
  gap: 16px;
}
.notif-img {
  width: 48px;
  height: 48px;
  background: url(./images/Rectangle23.png), #EEEEEE;
  border-radius: 12px;
}
.notif-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.notif-ket {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 264px;
  height: 14px;
}
.notif-ket-txt1 {
  font-size: 10px;
  color: #8A8A8A;
  flex-grow: 1;
}
.notif-ket-txt2 {
  font-size: 10px;
  line-height: 14px;
  color: #8A8A8A;
}
.notif-ket-ellipse {
  flex: none;
  order: 2;
  flex-grow: 0;
}
.notif-txt1 {
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}


/* LOGIN */
.img {
  position: absolute;
  width: 600px;
  height: 670px;
  left: 0px;
  top: 0px;
}
.form-title {
  position: absolute;
  left: 750px;
  top: 100px;
  font-size: 24px;
}
.form {
  position: absolute;
  width: 452px;
  left: 750px;
  top: 150px;
}
.input1 {
  height: 70px;
}
.toggle{
  position: absolute;
  top: 108px;
  right: 17px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.button {
  width: 452px;
  height: 40px;
  background: #7126B5;
  border-radius: 16px;
  border-color: #7126B5;
}
.text {
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
}
.frame {
    display: flex;
    padding: 0px;
    gap: 8px;
    position: absolute;
    left: 23%;
    top: 200px;
}

/* REGISTER */
    .frame-regis {
        display: flex;
        padding: 0px;
        gap: 8px;
        position: absolute;
        left: 23%;
        top: 430px;
    }

    .toggle-regis{
      position: absolute;
      top: 178px;
      right: 17px;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      cursor: pointer;
    }

    .txt1 {
        width: 140px;
        height: 20px;

        /* Body/14/Regular */

        text-align: center;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height, or 143% */


        color: #000000;


        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .txt2 {
        width: 150px;
        height: 20px;
        text-decoration:none;

        /* Body/14/Bold */

        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height, or 143% */


        /* Primary/Purple/04 */

        color: #7126B5;


        /* Inside auto layout */

        flex: none;
        order: 1;
        flex-grow: 0;
    }


/* SELLER/DAFTAR JUAL */
  .allert-success {
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 24px;
    gap: 16px;

    position: absolute;
    width: 500px;
    height: 52px;
    left: 470px;
    top: 100px;

    /* Allert/Success */

    background: #73CA5C;
    /* Shadow/High */

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
  }

  .allert-text {
    width: 416px;
    height: 20px;

    /* Body/14/Medium */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    /* Neutral/01 */

    color: #FFFFFF;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
  }

  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
}

  .daftarjual-title {
    position: absolute;
    width: 171px;
    height: 30px;
    left: 236px;
    top: 124px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
  }

  .penjual {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
    gap: 10px;
    position: absolute;
    width: 968px;
    height: 80px;
    left: 236px;
    top: 178px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
  }

  .frame-138 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 936px;
    height: 48px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .foto-penjual {
    width: 48px;
    height: 48px;

    background: url(./images/foto_penjual.png);
    border-radius: 12px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .frame-137 {
  display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 809px;
    height: 38px;
    flex: none;
    order: 1;
    flex-grow: 1;
  }

  .nama-penjual {
    width: 809px;
    height: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .kota {
    width: 809px;
    height: 14px;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: #8A8A8A;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  .frame-141 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px;

    width: 47px;
    height: 26px;
    background: #FFFFFF;
    border: 1px solid #7126B5;
    border-radius: 8px;
    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .edit {
    width: 23px;
    height: 18px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .kategori {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;

    position: absolute;
    width: 268px;
    height: 248px;
    left: 236px;
    top: 282px;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
  }

  .kategori-title {
    width: 69px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .frame-162 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 220px;
    height: 152px;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .frame-160 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 0px 16px;
    gap: 8px;

    width: 220px;
    height: 40px;
    border-bottom: 1px solid #D0D0D0;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .kategori-fi_box1 {
    width: 24px;
    height: 24px;

    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .kategori-chevron-right1 {
    width: 24px;
    height: 24px;

    flex: none;
    order: 2;
    flex-grow: 0;
  }

  .kategori-txt1 {
    width: 156px;
    height: 24px;
    text-decoration:none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7126B5;
    flex: none;
    order: 1;
    flex-grow: 0;
  }

  .kategori-txt1:hover {
    color: #bd00de;
  }

  .daftar-jual {
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    height: 864px;
    left: 536px;
    top: 282px;
  }

  .frame-165 {
    gap: 10px;
    width: 800px;
    height: 198px;
  }

  .frame-150 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 8px 16px;
    gap: 8px;

    width: 206.67px;
    height: 198px;

    background: #FFFFFF;
    border: 1px dashed #D0D0D0;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 1;
  }

  .group3 {
    width: 140px;
    height: 50px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  .group3-txt {
    position: absolute;
    width: 140px;
    height: 18px;
    left: 240px; 
    top: 75px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #8A8A8A;
  }  

  .fi-plus {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 300px;
    top: 40px;
  }

  .card1 {
    border: 2px dashed rgba(0, 0, 0, 0.15);
    width: 683px;
    height: 130px;
    margin-left: -13px;
    margin-bottom: -10px;
  }

  .card3 {
    margin-right: 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-right: 20px;

    width: 207px;
    height: 210px;
  }

  .foto-barang {
    width: 150px;
    height: 100px;
    padding-left: 40px;
    align-items: center;
    /* background: url(./images/Rectangle23.png), #EEEEEE; */
    border-radius: 4px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .frame-149 {
    width: 190.67px;
    height: 66px;

    margin-top: 10px;
  }

  .informasi-barang {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    width: 190.67px;
    height: 38px;
    margin-bottom: 5px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .nama-barang {
    width: 190.67px;
    height: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
  }

  .jenis-barang {
    width: 190.67px;
    height: 14px;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: #8A8A8A;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

  .harga-barang {
    width: 190.67px;
    height: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
  }

/* Responsive */

@media only screen and (max-width: 992px) and (min-width: 768px){
    .img {
        display: none;
    }

    .form {
        left: 23%;
        top: 30%;
        width: 480px;
      }

    .form-title {
        left: 23%;
        top: 20%;
      }

    .back {
        padding-top: 25px;
        padding-left: 20px;
      }

    .toggle {
        left: 410px;

    }

    .navbar {
      display: none;
    }

    .menu {
      margin-left: 30px;
      margin-top: 48px;
    }

    /* NOTIF */
    .notif-txt {
      font-size: 28px;
      line-height: 34px;
    }

    .list-notifikasi {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 16px;

      position: absolute;
      width: 340px;
      height: 200px;
      left: 32px;
      top: 120px;

      background: none;
      /* Shadow/High */
  
      box-shadow: none;
      border-radius: 1px;
    }

  
    .list {
  
      width: 450px;
      height: 108px; 

    }  
  
    .notif {
  
      width: 410px;
      height: 108px; 
  
    }
  
    .notif-img {
      width: 70px;
      height: 70px;
      margin-top: 10px;

    }
  
    .notif-text {
      width: 300px;
      height: 86px;

    }
  
    .notif-ket {
      width: 300px;
      height: 24px;
      margin-bottom: 10px;
    }
  
    .notif-ket-txt1 {
      width: 420px;
      font-size: 16px;
      line-height: 22px;
    }
  
    .notif-ket-txt2 {
      width: 150px;
      font-size: 16px;
      line-height: 22px;
    }

    .time {
      width: 495px;
    }
  
    .notif-ket-ellipse {
      width: 12px;
      height: 12px;
    }
    
    .notif-txt1 {
      height: 24px;
      font-size: 20px;
      line-height: 28px;
    }

    .divider {
      margin-top: 30px;
      margin-bottom: 15px;
      width: 710px;
      height: 2px;
    }

    /* Daftar Jual */
    .allert-success {
      width: 745px;
      left: 16px;
      top: 84px;
      z-index: 1000;
    }

    .allert-text {
      width: 444px;
    }

    .daftarjual-title {
      left: 20px;
      top: 45px;
    }

    .penjual {
      width: 745px;
      left: 16px;
      top: 102px;
    }

    .frame-138 {
      width: 680px;
    }

    .frame-137 {
      width: 169px;
    }

    .nama-penjual {
      width: 169px;
    }

    .kota {
      width: 169px;
    }

    .frame-141 {
      margin-right:-20px;
    }

    .daftar-jual {
      left: 20px;
      top: 280px;
    }

    .kategori {
      display: none;
    }

    /* Kategori Mobile */

    .kategori-mobile {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
      gap: 16px;

      position: absolute;
      width: 366px;
      height: 44px;
      left: 16px;
      top: 205px;
    }

    .kategori-mobile-frame {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 12px 16px;
      gap: 8px;

      width: 240px;
      height: 44px;

      background: #E2D4F0;
      border-radius: 12px;

      /* Inside auto layout */

      flex: none;
      order: 0;
      flex-grow: 0;
    }

    .active, .kategori-mobile-frame:hover {
      background: #7126B5;
    }

    .kategori-mobile-text {
      text-decoration: none;

      width: 48px;
      height: 20px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #FFFFFF;
      flex: none;
      order: 1;
      flex-grow: 0;
    }

    .kategori-mobile-icon {
      width: 20px;
      height: 20px;
      margin-left: 46px;
      flex: none;
      order: 0;
      flex-grow: 0;
    }

    /* Daftar Jual in Medium screen */

    .frame-165 {
      width: 780px;
      gap: 15px;
    }
    
    .card3 {
      margin-left: 10px;
      width: 218px;
    }

    .card1 {
      margin-left: -3px;
      width: 747px
    }

    .fi-plus {
      left: 330px
    }

    .group3-txt {
      left: 270px;
    }

  
  }

  @media (max-width: 768px) {
    .menu-nav {
      width: 24px;
      height: 24px;
    }
    .form {
      left: 10%;
      top: 25%;
      width: 480px;
    }

    .form-title {
        left: 10%;
        top: 17%;
      }
  
    .img {
      display: none;
    }
    .back {
        padding-top: 20px;
        padding-left: 20px;
      }
    
    .email {
        width: 305px;
    }

    .button {
        width: 305px;
    }

    .text {
        width: 255px;
    }

    .frame {
        left: 30px;
    }
    .list-notifikasi {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 16px;

      position: absolute;
      width: 333px;
      height: 181px;
      left: 26px;
      top: 102px;

      background: none;
      /* Shadow/High */
  
      box-shadow: none;
      border-radius: 1px;
    }

    .list {
      width: 333px;
    }

    .notif {
      width: 333px;
    }

    .frame-menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 12px;
      gap: 16px;
  
      position: absolute;
      width: 53px;
      height: 48px;
      left: 16px;
      top: 36px;
      background: #FFFFFF;
      border-radius: 16px;
    }

    .menu {
      width: 24px;
      height: 24px;

      flex: none;
      order: 0;
      flex-grow: 0;
    }

    /* Daftar Jual */
    .allert-success {
      width: 354px;
      left: 16px;
      top: 84px;
      z-index: 1000;
    }

    .allert-text {
      width: 244px;
    }

    .daftarjual-title {
      left: 20px;
      top: 60px;
    }

    .penjual {
      width: 745px;
      left: 16px;
      top: 102px;
    }

    .frame-138 {
      width: 680px;
    }

    .frame-137 {
      width: 169px;
    }

    .nama-penjual {
      width: 169px;
    }

    .kota {
      width: 169px;
    }

    .frame-141 {
      margin-right:-20px;
    }

    .daftar-jual {
      left: 20px;
      top: 280px;
    }

    .kategori {
      display: none;
    }

    /* Kategori Mobile */

    .kategori-mobile {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
      gap: 16px;

      position: absolute;
      width: 366px;
      height: 44px;
      left: 16px;
      top: 205px;
    }

    .kategori-mobile-frame {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 12px 16px;
      gap: 8px;

      width: 240px;
      height: 44px;

      background: #E2D4F0;
      border-radius: 12px;

      /* Inside auto layout */

      flex: none;
      order: 0;
      flex-grow: 0;
    }

    .active, .kategori-mobile-frame:hover {
      background: #7126B5;
    }

    .kategori-mobile-text {
      text-decoration: none;

      width: 48px;
      height: 20px;
      
      /* Body/14/Regular */
      
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      /* identical to box height, or 143% */
      
      
      /* Neutral/01 */
      
      color: #FFFFFF;
      
      
      /* Inside auto layout */
      
      flex: none;
      order: 1;
      flex-grow: 0;
    }

    .kategori-mobile-icon {
      width: 20px;
      height: 20px;
      margin-left: 46px;
      flex: none;
      order: 0;
      flex-grow: 0;
    }

    .frame-165 {
      width: 780px;
      gap: 15px;
    }
    
    .card3 {
      margin-left: 10px;
      width: 218px;
    }

    .card1 {
      margin-left: -3px;
      width: 747px
    }

    .fi-plus {
      left: 330px
    }

    .group3-txt {
      left: 270px;
    }

  }

  /* Daftar Jual in Handphone screen */

  @media  (max-width: 480px) {
  
    .daftarjual-title {
      left: 20px;
      top: 60px;
    }
  
  
    .penjual {
      width: 354px;
      left: 16px;
      top: 102px;
    }
  
    .frame-138 {
      width: 296px;
    }
  
    .frame-137 {
      width: 169px;
    }
  
    .nama-penjual {
      width: 169px;
    }
  
    .kota {
      width: 169px;
    }
  
    .frame-141 {
      margin-right:-20px;
    }
  
    .daftar-jual {
      left: 20px;
      top: 260px;
    }
  
   
    .kategori {
      display: none;
    }
  
    /* Kategori Mobile */
  
    .kategori-mobile {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0px;
      gap: 16px;
  
      position: absolute;
      width: 366px;
      height: 44px;
      left: 16px;
      top: 205px;
    }
  
    .kategori-mobile-frame {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 12px 16px;
      gap: 8px;
  
      width: 108px;
      height: 44px;
  
      /* Primary/Purple/04 */
  
      background: #E2D4F0;
      border-radius: 12px;
  
      /* Inside auto layout */
  
      flex: none;
      order: 0;
      flex-grow: 0;
    }
  
    .active, .kategori-mobile-frame:hover {
      background: #7126B5;
    }
  
    .kategori-mobile-text {
      text-decoration: none;
  
      width: 48px;
      height: 20px;
      
      /* Body/14/Regular */
      
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      /* identical to box height, or 143% */
      
      
      /* Neutral/01 */
      
      color: #FFFFFF;
      
      
      /* Inside auto layout */
      
      flex: none;
      order: 1;
      flex-grow: 0;
    }
  
    .kategori-mobile-icon {
      width: 20px;
      height: 20px;
      margin-left: -6px;
      flex: none;
      order: 0;
      flex-grow: 0;
    }

     .frame-165 {
      width: 375px;
      gap: 5px;
    }
    
    .card3 {
      margin-left: 10px;
      width: 155px;
      height: 175px;
    }
  
    .card1 {
      margin-left: -3px;
      width: 355px
    }
  
    .fi-plus {
      left: 170px
    }
  
    .group3-txt {
      left: 110px;
    }
  
   .foto-barang {
      width: 132px;
      height: 80px;
      padding-left: 0;
    }
  
    .nama-barang {
      width: 100px;
      height: 40px;
      left: 8px;
      top: 116px;
    }
  
    .jenis-barang {
      width: 140px;
      /* left: 8px; */
      margin-top: -20px;
    }
  
    .harga-barang {
      position: absolute;
      width: 140px;
      /* left: 8px; */
      margin-top: -1px;
    }
  
  }
  

@media (min-width: 992px) {
  .back {
    display: none;
  }

  .menu {
    display: none;
  }

  .notif-txt {
    display: none;
  }

  .kategori-mobile {
    display: none;
  }

}  

a {
  text-decoration: none;
}

/* Diminati */

.group34 {
  position: absolute;
  width: 296px;
  height: 177px;
  left: 170px;
  top: 50px;
}

.diminati-txt {
  position: absolute;
  width: 350px;
  height: 40px;
  left: 25px;
  top: 145px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #8A8A8A;
}

.diminati-img {
  position: absolute;
  left: 25%;
  right: 26.11%;
  top: 10px;
  bottom: 36.64%;
  margin-left: 45px;
}

/* profile */
.container {
  margin: auto;
}

.form-control {
  border-radius: 16px;
}

.form-select {
  border-radius: 16px;
}

::placeholder {
  font-size: 14px;
  color: #8A8A8A;
}

option[value=""][disabled] {
  display: none;
}
.dropdown {
  position: relative;
  color: #333;
  cursor: default;
}

.dropdown .arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: " ";
  display: block;
  height: 0;
  margin-top: 0.3rem;
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0;
}

.dropdown .arrow.open {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}
.input{
  
}
.dropdown .selected-value input{
  line-height: 1.5;
  font-size: 1rem;
  background-color: #fff;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: default;
  outline: none;
  padding: 8px 52px 8px 10px;
  transition: all 200ms ease;
  width: 100%;
  border: #ffffff;
}

.dropdown .options {
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.dropdown .options.open {
  display: block;
}

.dropdown .option {
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}

.dropdown .option.selected,
.dropdown .option:hover {
  background-color: #f2f9fc;
  color: #333;
}
#save {
  border-color: #7126B5;
  background: #7126B5;
  border-radius: 16px;
}

/* info produk */
#preview {
  border-color: #7126B5;
  border-radius: 16px;
  color: black;
}

#preview:hover {
  background: #7126B5;
  color: white;
}

#delete {
  border-color: #7126B5;
  border-radius: 16px;
  color: black;
}

#delete:hover {
  background: #7126B5;
  color: white;
}

#terbitkan {
  border-color: #7126B5;
  background: #7126B5;
  border-radius: 16px;
}

.btn-action {
  width: 100%;
}

/* info penawaran */
.card-title {
  font-size: 14px;
}

.card-text {
  font-size: 10px;
}

#modal-button {
  border-color: #7126B5;
  background: #7126B5;
  border-radius: 16px;
  font-size: 14px;
  padding: 12px 24px;
  width: 100%;
}

.modal-body h4 {
  font-size: 14px;
}

/* medium device*/
@media screen and (max-width: 915px){
  /* login */
  .button {
    width: 550px;
  }
  .form {
    width: 550px
  }
  
  /* navbar */
  .navbar-brand {
    visibility: hidden;
  }

  /* profile */
  #profile {
      width: 90%;
  }

  /* info produk */
  #info-produk {
      width: 90%;
  }

  /* info penawaran */
  #info-penawaran {
      width: 90%;
  } 
  
  /* edit produk */
  #edit-produk {
    width: 90%;
  }

  /* navbar judul aja */
  #title {
    top: 4%;
    left: 45%;
  }
}

@media screen and (min-width: 915px){
  /* profile */
  #profile {
      width: 50%;
  }

  /* info produk */
  #info-produk {
      width: 50%;
  }

  /* info penawaran */
  #info-penawaran {
      width: 50%;
  } 

  /* edit produk */
  #edit-produk {
    width: 50%;
  }

  #title {
    left: 49%;
} 
}

/* small device */
@media screen and (max-width: 700px) {
  /* navbar judul aja */
  #title {
    top: 6%;
    left: 43%;
  }

  /* login */
  .form {
    width: 300px;
  }
  .button {
    width: 300px;
  }
  /* register */
  .frame-regis{
    left: 10%;
  }
}
