@import url('https://fonts.googleapis.com/css?family=Poppins');

/* HOMEPAGE */
/* Navbar */
.logo {
  width: 100px;
  height: 34px;
  background-color: #4B1979;
  margin-left: 5%;
}

.navbar1 {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
}

.search-icon {
  position: absolute;
  margin-left: 85%;
  margin-top: 7px;
  color: #8A8A8A;
}

.btn-register {
  background: #7126B5;
  border-color: #7126B5;
  border-radius: 12px;
}

.regis {
  margin: 8px 10px 8px 0;
}

.icon-list-header, .icon-bell-header, .icon-user-header {
  margin: 5px;
  font-size: large;
}

.home-navbar-user{
  background-color: white;
  border-color: white;
}

.icon-user-header {
  color: black;
}

.home-navbar-user:hover {
  background-color: #E2D4F0;
  border-color: #E2D4F0;
}

.dropdown-toggle::after {
  display: none !important;
}

#off-canvas {
  width: 50%;
}

.title-navbar {
  font-weight: bold;
}
.navi2{
  padding: 10px 10px 10px 10px;

}
 .input-group {
  position: absolute;
  width: 444px;
  height: auto;
  margin-top: -35px;
  left: 260px;
}
.pencarian {
  background: #EEEEEE;
  border-radius: 16px;
  border-color: #EEEEEE;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #8A8A8A;
  padding: 14px 0 14px 24px;
}
.searching {
  border: none;
  border-radius: 16px;
}
.input-group-text{
  border: none;
  border-radius: 0px 20px 20px 0px;
}
.input-search{
  width: 24px;
  height: 24px;
}
.text-search {
  width: 356px;
  height: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #8A8A8A;
  flex: none;
  order: 0;
  flex-grow: 1;
} 
.frame-menu-nav {
  padding: 8px;
  position: absolute;
  left: 10px;
  top: 10px;
  background: #FFFFFF;
  border-radius: 16px;
}

/* Home */
.slider .owl-theme .owl-nav { 
  display: none; 
} 
 
.slider { 
  position: relative; 
  transition: all 0.5 ease; 
} 
 
.slider .owl-item.active.center .slider-card {
  transform: scale(1.5);
} 

.slider .slider-card { 
  margin: 50px 70px 50px 70px; 
  border: 1px solid transparent; 
} 
 
.slider .slider-card .card { 
  border: 1px solid transparent; 
} 

.slider .owl-theme .owl-dots { 
  display: none; 
} 

.home-carousel-1 {
width: 450px;
height: 135px;
border-radius: 10px;
background-color: #FFE9CA;
}

.home-carousel-2 {
width: 450px;
height: 135px;
border-radius: 10px;
background-color: #E2D4F0;
}

.home-carousel-3 {
width: 450px;
height: 135px;
border-radius: 10px;
background-color: #B6D4A8;
}

.text-1 {
font-weight: bold;
z-index: 999;
position: relative;
margin: 25px 0 0 70px;
}

.text-2 {
margin: 5px 0 0 70px;
font-size: 10px;
}

.text-3 {
margin: 0px 0 0 70px;
color: red;
}

.carousel-1 img{
max-width: 150px;
max-height: 150px;
z-index: 999;
position: relative;
margin: 40px 0 0 50px;
}

.carousel-2 img{
height: 134px;
max-width: 205px;
position: absolute;
z-index: 1;
}



/* Filter Kategori */
.category div button { 
  border: 1px solid #E2D4F0;; 
  border-radius: 12px; 
  background-color: #E2D4F0;; 
  color: black; 
} 
.category div button.button-sell { 
  width: 25%; 
  margin: 0 37.5%;
  border: 1px solid rgba(113, 38, 181, 1); 
  border-radius: 12px; 
  background-color: rgba(113, 38, 181, 1); 
  color: white;  
} 
.category div button:hover { 
  border: 1px solid rgba(113, 38, 181, 1); 
  border-radius: 12px; 
  background-color: rgba(113, 38, 181, 1); 
  color: white; 
}
.category .button-category { 
  overflow-x: scroll; 
} 

.category .button-category::-webkit-scrollbar { 
  width: 0; 
}

@media screen and (max-width: 1023px) {
  .category {
    margin-top: 10%;
  }

  .card-content { 
    display: grid; 
    grid-template-columns: auto auto; 
    grid-gap: 20px;
  }
}


/* Product */
.card-product {
  margin-right: 30px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* DETAIL PRODUK */
/* Navbar */
.frame-158-menu {
  display: flex;
  flex-direction: row;
  gap: 24px;
  position: absolute;
  width: 120px;
  height: 24px;
  margin-left: 1184px;
  margin-top: -30px;
}
.fi-list {
  width: 24px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.fi-bell {
  width: 24px;
  height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.fi-user {
  width: 24px;
  height: 24px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

/* Content 1 (Gambar) */
.container1{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* margin-left: 200px; */
}
.detail_gambar{
  width: 600px;
  height: 436px;
  border-radius: 16px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  block-size: auto;
}

.card-body-produk{
  width: 100%;
  height: auto;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 10px;
}
.card-title{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.card-text{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #8A8A8A;
}
.card-text-2{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.btn1{
  width: 304px;
  height: 48px;
  background: #7126B5;
  border-radius: 16px;
  border-color: #7126B5;
  padding: auto;
}
.btn1 a{
  color: #ffffff;
}
.btn2{
  width: 304px;
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #7126B5;
  border-radius: 16px;
  color: #000000;
}
.btn2 a{
  color: #000000;
}
.btn-teks{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.card2{
  width: 336px;
  height: auto;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  margin-top: 20px;
}
.gbr-seller{
  width: 48px;
  height: auto;
}
.ket{
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #8A8A8A;
}

/* Content 2 (Deskripsi) */
.container2{
  position: absolute;
  top: 30rem;
  margin-left: 160px;
  border-radius: 16px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  block-size: auto;
  width: 600px;
  height: auto;
}

.btn-kirim{
    width: 450px;
    height: 48px;
    background: #7126B5;
    border-radius: 16px;
    border-color: #7126B5;
    padding: auto;
    margin: 0;
}
.modal-footer{
  justify-content: center; 
  align-items:center;
  padding: 5px;
}

@media only screen and (max-width: 992px) and (min-width: 650px){
.detail_gambar{
  max-width: 300px;
  margin-left: 10rem;
}
.kembali {
  display: none;
}
.card-body-produk{
  max-width: 80%;
  height: auto;
  margin-right: -100px;
}
 .card-body-produk .btn1{
  max-width: 50%;
}
.card-body-produk .btn2{
  max-width: 50%;
} 
.container1{
  /* gap: 1rem;
  padding: 1rem 2rem;
  margin-left: 50rem; */
  width: 60%;
}
.container2{
  max-width: 80%;
  margin-top: -10rem;
  margin-left: 3rem;
}
.btn-float{
  display: none;
}
.hero{
  width: 70%;
}
.menu-nav {
  display: none;
} 
}
@media (min-width: 992px) {
.detail_gambar{
  width: 600px;
}
.menu-nav {
  display: none;
}
.kembali{
  display: none;
}
}
@media screen and (max-width: 650px) {
  /* Detail Produk */
  .frame-158-menu{
    display: none;
  }
  .container1{
    display: block;
    gap: 0;
    margin: 0;
    padding: 0;
  }
  .kembali {
    /* top: 10px;
    margin-left: -10px; */
    background-color: #FFFFFF;
    border-radius: 20px;
  }
  .detail_gambar{
    border-radius: 0px;
    max-width: 100%;
    margin-left: 0;
    /* align-items: center;
    justify-content: center;
    margin-top: -3rem;
    margin-left: -3rem; */
  }
  .card-body-produk{
    display:inline-block;
    /* width: 328px;
    height: auto; */
    margin-top: -30px;
  }
  .card-body-produk .btn1{
    display: none;
  }
  .card-body-produk .btn2{
    display: none;
  }
  .card2{
    position: absolute;
    /* width: 328px;
    height: auto; */
    margin-top: 15px;
  }
  .container2{
    position: absolute;
    margin-left: 65px;
    width: 73%;
    height: auto;
  }
  .container3{
    justify-content: center;
    align-items: center;
    width: auto;
    margin-left: 7%;
  }
  .btn-float{
    position: fixed;
    bottom: 8%;
    margin-left: 10%;
    margin-right: 90%;
  }
  .card2{
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  }
  .navi2{
    display: none;
  }
  .btn-kirim{
    max-width: 350px;
    height: 48px;
    background: #7126B5;
    border-radius: 16px;
    border-color: #7126B5;
    padding: auto;
}
.btn-float1{
  position: fixed;
  margin-left: 40%;
  margin-right: 60%;
}
.list{
  display: none;
}
.form-modal{
  padding-top: 80px;
}
}

@media screen and (min-device-width: 1200px) {
  .container1 {
    flex-direction: row;
    gap: 3rem;
    padding: 2rem 4rem;
    margin-left: 20rem;
  }
  .container2{
    top: 35rem;
  }
  .frame-158-menu{
    left:-5rem;
  }
}

@media (min-width: 992px) {
.btn-float{
  display: none;
}
}

@media screen and (max-width: 1023px) {
  /* Navbar */
  .logo {
      display: none;
  }
  
  .navbar1 {
      box-shadow: none;
  }

  .home-navbar {
      flex-direction: row-reverse;
      gap: 20px;
  }

  .navbar-light .navbar-toggler {
      background-color: white;
      border-radius: 10px;
      border-color: white;
  }

  .navbar1 {
    /* position: fixed; */
    z-index: 10;
    width: 100%;
  }

  .navbar-scroll {
    background-color: white;
  }

  /* Home */
  .slider .owl-item.active.center {
    transform: none;
    z-index: -1 !important;
  } 
  
  .home-carousel-1, .home-carousel-2, .home-carousel-3 {
    height: 340px;
    max-width: 100%;
    border-radius: 0;
  }
  
  .carousel-2 img {
    display: none !important;
  }
  
  .carousel-1 img {
    margin-top: 100%;
    margin-left: 0 !important;
    max-width: 60%;
  }
  
  .text-1, .text-2, .text-3 {
    margin-left: 35%;
    margin-right: 0 !important;
  }
  
  .text-1 {
    margin-top: 45%;
    font-size: 20px;
  }
  
  .text-2 {
    font-size: 12px;
    margin-top: 5%;
  }
  
  .text-3 {
    font-size: 20px;
  }
  
  .slider-card {
    margin:0 !important;
    z-index: -1;
    position: relative;
  }

  /* Kategori */
   
.category div button.button-sell { 
    width: 20%; 
}  
}


  @media screen and (min-width: 1024px) {
    .category div button { 
        border: 1px solid rgba(226, 212, 240, 1); 
        border-radius: 12px; 
        background-color: rgba(226, 212, 240, 1); 
        color: black; 
    }
  
    .card-content { 
      display: grid; 
      grid-template-columns: auto auto auto auto auto auto; 
      grid-gap: 20px;
    }
    
       
    .category div button.button-sell { 
        width: 7%;  
    } 
  }